*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.5;
}
/*navbar*/
a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.btn{
    background: #1D4ED8;
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background: #3B82F6;
}

nav{
    width: 100%;
    background: white;
    padding: 25px 0;
}



.nav-container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-links {
display: flex;
gap: 35px;
}

.nav-links a {
    color: #222;
    font-size: 16px;
    transition: 3s;
    
}
.nav-links a:hover{
    color: #1D4ED8;
}

/*hero section */

.hero{
    height: 100vh;
    background-image:url(https://images.unsplash.com/photo-1511578314322-379afb476865?w=1600) ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: white;
}

.overlay{
    width: 100%;
}

.speakers {
    padding:100px 0;
    background:#ffffff;
}
/*section Heading */

.speakers h2{
    text-align: center;
    font-size: 42px;
    margin: bottom 60px;
    color: #18233d;
}

.speaker-grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30px;
}

.card {
    background: white;
    border: radius 15px;
    overflow:hidden;
    box-shadow: 0 10px 30px rgba (0,0,0,.08);
    transition: 3s;
}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    height:320px;
    object-fit: cover;
}

.card-body {
    padding: 25px;
}

.card-body small {
    display: inline-block;
    background: #ffe9e4;
    
    padding: 6px 14px;
    border-radius: 30px;
    font: weight 600px;
    margin: bottom 15px;
}

.card-body h3{
    font-size: 24px;
    color: #1d2843;
    margin-bottom: 10px;
}

.card-body p{
    color: #666;
    font-size: 15px;
}

/*pricing */

.pricing{
    padding: 100px 0;
    background: #f8f9fc;
}

.pricing h2{
    text-align: center;
    font-size: 42px;
    color: #18233d;
    margin-bottom: 10px;
}

.pricing-subtitle{
    text-align: center;
    color: #777;
    margin-bottom: 60px;
    font-size: 17px;
}

.pricing-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.price-card{
    background:#ffffff;
    padding:40px 30px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.price-card:hover{
    transform:translateY(-10px);
}

.price-card h4{
    color:#ff6b57;
    font-size:18px;
    margin-bottom:20px;
    letter-spacing:1px;
}

.price-card h3{
    font-size:48px;
    color:#18233d;
    margin-bottom:10px;
}

.price-text{
    color:#777;
    margin-bottom:30px;
}

.price-card ul{
    text-align:left;
    margin-bottom:35px;
}

.price-card ul li{
    margin-bottom:15px;
    color:#555;
    position:relative;
    padding-left:22px;
}

.price-card ul li::before{
    content:"✓";
    position:absolute;
    left:0;
    color:#ff6b57;
    font-weight:bold;
}

.price card featured {
    background: #18233d;
    color: #ffffff;
    transform: scale(1.05);
}

