*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.5;
}
/*navbar*/
a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.btn{
    background: #1D4ED8;
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background: #3B82F6;
}

nav{
    width: 100%;
    background: white;
    padding: 25px 0;
}



.nav-container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-links {
display: flex;
gap: 35px;
}

.nav-links a {
    color: #222;
    font-size: 16px;
    transition: 3s;
    
}
.nav-links a:hover{
    color: #1D4ED8;
}

/*hero section */

.hero{
    height: 100vh;
    background-image:url(https://images.unsplash.com/photo-1511578314322-379afb476865?w=1600) ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: white;
}

.overlay{
    width: 100%;
}